@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../assets/image/Pulse-1.2s-51px.gif') center no-repeat
    white;
  opacity: 0.8;
}

.spinner-border {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.container-fluid {
  background-color: #fafafa;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  height: 100vh;
}

.back-btn {
  float: left;
  margin-top: -3px;
}

.fa-times {
  float: right;
  color: #d9534f;
  font-size: 27px;
}

.fa-times:hover {
  color: #d9544fc4;
  cursor: pointer;
}

header {
  height: 50px;
  background-color: #4a69bd;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  padding-top: 7px;
}

header .finish-h5 {
  margin-left: 15px !important;
}
/* 
.card {
  width: 50%;
  height: 89vh;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

.big-card {
  position: relative;
  width: 50%;
  height: 89vh;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.small-card {
  width: 30%;
  height: 30vh;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card .options {
  height: 10vh;
  border: 1px solid black;
}

.card-body .form-btn,
.remove-btn,
.finish-btn {
  background-color: #4a69bd;
  color: white;
  width: 200px;
  font-weight: 500;
}

.card-body .btn-outlined {
  background-color: white;
  color: #4a69bd;
  width: 60px;
  border: 1px solid #4a69bd;
  font-weight: 600;
}

.card-body .btn-outlined:disabled {
  background-color: white;
  color: #555;
  width: 60px;
  border: 1px solid #ced4da;
  font-weight: 600;
}

.card-body .form-btn:hover,
.remove-btn:hover,
.finish-btn:hover {
  background-color: white;
  color: #4a69bd;
  border: 1px solid #4a69bd;
}

.table-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5px;
  min-height: 67vh;
  border: 1px solid #4a69bd;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
}

.item-table-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5px;
  min-height: 72vh;
  border: 1px solid #4a69bd;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

table tbody tr {
  background-color: #fafafa;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 500;
}

table tbody tr:hover {
  background-color: #a0b0da;
}

.search-input:focus {
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0 0 4px #4a69bd;
}

#item-count {
  border: none !important;
  font-weight: 500;
  width: 50px;
}

#item-count:focus {
  border-color: inherit;
  box-shadow: none;
  outline: none;
  border: none !important;
}

#fileCount {
  width: 70px;
  position: absolute;
  border: none;
  margin-left: 10px;
  font-weight: 600;
  background-color: transparent;
  color: black;
}

#fileCount:focus {
  outline: none;
}

.swal2-confirm {
  background-color: #4a69bd !important;
}

span[class^='dot'] {
  opacity: 0;
}
.dot_one {
  animation: dot_one 2s infinite linear;
}
.dot_two {
  animation: dot_two 2s infinite linear;
}
.dot_three {
  animation: dot_three 2s infinite linear;
}
@keyframes dot_one {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot_two {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot_three {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

@media (max-width: 666px) {
  .card {
    width: 90%;
  }

  .small-card {
    width: 65%;
    height: 30% !important;
  }

  .card-body .form-btn,
  .remove-btn,
  .finish-btn {
    background-color: #4a69bd;
    color: white;
    width: 280px;
  }
  .big-card {
    height: 85vh;
    min-height: 80vh;
  }

  .item-table-list {
    height: 68vh;
  }

  .table-list {
    height: 62vh;
  }
}
